.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/Game.css */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.row {
  display: flex;
}

.cell-container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.cell {
  background-color: #eee;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-2 {
  background-color: #eee4da;
}
.cell-4 {
  background-color: #ede0c8;
}
/* Add styles for other values as needed */

.game-over {
  font-size: 36px;
  color: red;
  margin-bottom: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px;
}
